---
import Layout from "@layouts/Layout.astro";

import { getBlogs, getBlogDetail } from "../library/microcms";

export async function getStaticPaths() {
    const response = await getBlogs({ fields: ["id"] });
    return response.contents.map((content: any) => ({
        params: {
            blogId: content.id,
        },
    }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);

import { Image } from "astro:assets";
import headingNews from "@images/heading/heading_news.svg";
---

<Layout>
    <section class="news">
        <div class="sub-page-top"></div>
        <h1 class="sub-page-heading">
            <Image src={headingNews} alt="" />
        </h1>
        <div class="news-container">
            <div class="post">
                <div class="date">{blog.publishedAt.slice(0, 10)}</div>
                <div class="title">{blog.title}</div>
                <div class="content" set:html={blog.content} />
                <div class="page-nav"><a href="/">← トップページに戻る</a></div>
            </div>
        </div>
    </section>
    <style>
        .news {
            width: 100%;
        }

        .sub-page-top {
            width: 100%;
            height: 40vh;
            background-image: url(../images/subpage/sub_img1.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: clamp(2.5rem, 1.464rem + 4.42vw, 5rem); /*40-80 */
        }
        .sub-page-heading {
            width: clamp(
                8.75rem,
                7.533rem + 5.19vw,
                11.688rem
            ); /* 140px-187px */
            margin-inline: auto;
            margin-bottom: clamp(2.5rem, 1.464rem + 4.42vw, 5rem); /*40-80 */
        }
        .news-container {
            width: 87%;
            max-width: 900px;
            margin: 0 auto;
            padding-bottom: clamp(5rem, 2.928rem + 8.84vw, 10rem); /*80-160 */
            text-align: center;
        }
        .post {
            margin-top: 40px;
            text-align: left;
            padding: 20px;
        }

        .date {
            font-family: sans-serif;
            font-weight: normal;
            color: var(--brawn);
        }
        .title {
            font-size: clamp(1.125rem, 0.866rem + 1.1vw, 1.75rem); /* 18-28 */
            font-weight: 600;
            padding-bottom: 0.3em;
            border-bottom: 1px solid var(--brawn);
            margin-bottom: 1em;
        }
        .content {
            line-height: 2;
            margin-bottom: 1em;
        }

        :global(p) {
            margin-bottom: 20px;
        }

        .page-nav {
            color: var(--brawn);
            font-family: sans-serif;
        }
    </style>
</Layout>
