---
import Layout from "@layouts/Layout.astro";
import Opening from "@components/Opening.astro";
import Mv from "@components/Mv.astro";
import News from "@components/News.astro";
import Message from "@components/Message.astro";
import Feature from "@components/Feature.astro";
import Menu from "@components/Menu.astro";
import Slide from "@components/Slide.astro";
import ShopInfo from "@components/ShopInfo.astro";
---

<Layout
    title="うめ屋 | 架空の和菓子屋"
    description="Webサイト制作のサンプルで作成した、架空の和菓子屋「うめ屋」のトップページです"
>
    <main>
        <Opening />
        <Mv />
 
        <News />
        <Message />
        <Feature />
        <Menu />
        <Slide />
        <ShopInfo />
    </main>
</Layout>
